<session-info title="sessionInfoTitle" session="session" shops="shops"></session-info>

<div class="main-content__column">
  <div class="session-page">
    <div class="session-page__col-full">
      <div class="session-page__header">
        <h2 class="session-page__header-title">Список людей принявших предложение</h2>
        <a ng-href="#/food/{{ session.id }}" class="session-page__button button" ng-show="session.status == 0 || isSessionCreator(session)" ng-bind="getJoinButtonLabel()"></a>
      </div>

      <div class="session-page__part">
        <div class="session-page__participants-order" ng-repeat="order in session.orders">
          <user-card order="order" can-change-payment-status="isSessionCreator(session)" can-delete="isSessionCreator(session) || isOrderCreator(order)" on-edit="saveOrder" on-delete="deleteOrder"></user-card>
        </div>
      </div>
    </div>
    <a ng-href="#/order/{{ session.id }}" class="session-page__confirm-order-button button" ng-show="isSessionCreator(session) && session.status == 0">Офомить заказ</a>
    <a ng-href="#" ng-click="deleteSession(session)" class="session-page__delete-session-button button" ng-show="isSessionCreator(session) && session.status == 0">Удалить сессию</a>
  </div>
</div>
