<div class="server-error-message" ng-show="errorCaught" ng-click="hideError()" ng-bind="errorMessage">
</div>
<session-info
  title="sessionInfoTitle"
  session="session"
  can-change-time="session.status == 1 && isSessionCreator(session)"
  can-change-shop="false"
  shops="shops">
</session-info>

<div class="main-content__column">
  <div class="session-page">
    <div class="session-page__col-full">
      <div class="session-page__header">
        <h2 class="session-page__header-title">Список людей принявших предложение</h2>
        <div class="session-page__button">
          <custom-button
            href="'#/food/' + session.id"
            is-stretch="true"
            ng-show="session.status == 0"
            title="getJoinButtonLabel()">
          </custom-button>
        </div>
      </div>
      <div class="session-page__part">
        <div class="session-page__participants-order" ng-repeat="order in session.orders">
          <user-card
            order="order"
            can-change-payment-status="isSessionCreator(session)"
            can-delete="(isSessionCreator(session) || isOrderCreator(order)) && session.status == 0"
            on-edit="saveOrder"
            on-delete="deleteOrder">
          </user-card>
          <div class="session-page__copy-btn">
              <custom-button
                is-stretch
                ng-show="!isSessionParticipant(session) && session.status == 0"
                ng-click="copyUserOrder(order)"
                title="'Хочу также'">
              </custom-button>
          </div>
        </div>
      </div>
    </div>


    <div class="session-page__footer">
      <div class="session-page__footer-button" ng-show="isSessionCreator(session) && session.status == 0" >
        <custom-button
          href="'#/order/' + session.id"
          is-stretch="true"
          title="'Офомить заказ'">
        </custom-button>
      </div>


      <div class="session-page__footer-button" ng-show="isSessionCreator(session) && session.status == 1" >
        <custom-button
          on-click="deleteSession(session)"
          ng-show="isSessionCreator(session) && session.status == 0 && !isOrdersEmpty(session)"
          on-click="deleteSession(session)"
          is-stretch="true"
          title="'Завершить сессию'">
        </custom-button>
      </div>

      <div class="session-page__footer-button" ng-show="isSessionCreator(session) && session.status == 0" >
        <custom-button
          on-click="deleteSession(session)"
          is-stretch="true"
          title="'Удалить сессию'">
        </custom-button>
      </div>
    </div>
    <div class="session-page__empty-session" ng-show="isOrdersEmpty(session)" >
        Список заказов пуст
    </div>
  </div>
</div>
