<session-info title="sessionInfoTitle" session="session" shops="shops" readonly="true"></session-info>

<div class="main-content__column">
  <div class="session-page">
    <div class="session-page__col-full">
      <div class="session-page__header">
        <h2 class="session-page__header-title">Список людей принявших мое предложение</h2>
        <a ng-href="#/food/{{ session.id }}"  class="session-page__button button">Прсоедениться</a>
      </div>

      <div class="session-page__part">
        <div class="session-page__participants-order" ng-repeat="order in session.orders">
          <user-card order="order" can-change-payment-status="isSessionCreator(session)" can-delete="isSessionCreator(session) || isOrderCreator(order)" on-edit="saveOrder" on-delete="deleteOrder"></user-card>
        </div>
      </div>
    </div>
  </div>
</div>
