<div class="session-page__header">
  <h2 class="session-page__header-title">Список людей принявших мое предложение</h2>
  <a href="/session_page_food.html" class="session-page__button button">Прсоедениться</a>
</div>

<div class="session-page__part">
  <div class="session-page__participants-order">
    //= ../user_card/user_card.html
  </div>

  <div class="session-page__participants-order">
    //= ../user_card/user_card.html
  </div>


  <div class="session-page__participants-order">
    //= ../user_card/user_card.html
  </div>


  <div class="session-page__participants-order">
    //= ../user_card/user_card.html
  </div>


  <div class="session-page__participants-order">
    //= ../user_card/user_card.html
  </div>
</div>