//= ../session_info/session_info.html

<div class="main-content__column">
  <div class="session-page">
    <div class="session-page__content">
      <div class="session-page__header">
        <h2 class="session-page__header-title">Список людей принявших мое предложение</h2>
      </div>
      <div class="session-page__participants-order">
        //= ../user_card/user_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../user_card/user_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../user_card/user_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../user_card/user_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../user_card/user_card.html
      </div>
    </div>
  </div>
</div>

//= ../cart/cart_fixed.html
