.session-page
  position: relative
  background-color: $color_secondary_bg
  border: $border_separator
  
  &__button
    position: absolute
    top: 40%
    margin: auto
    right: 20px
    width: 300px
    @media $mobile-max
      width: 100%
      top: 18px
      left: 0
      right: 0
    

  &__header
    position: relative
    
  &__header-title
    page_header_title()
    margin-bottom: 0

    @media $tablet-max
      padding-right: 360px

    @media $desktop-min
      width: auto
      text-align: left

    @media $mobile-max
      font-size: 26px
      padding-top: 60px
      padding-right: 0px

  &__owners-order-price
    color: $color_main
    font-weight: 500

  &__content
    clearfix()
    
  &__part
    padding: 0 0 0 20px
    
  &__col-big
    float: left
    width: 70%
    border-right:$border_separator
    @media $desktop
      width: 62%

    @media $tablet-max
      width: 100%

  &__col-small
    float: left
    width: 30%

    @media $desktop
      width: 38%

    @media $tablet-max
      display: none

  &__card-link
    display: none

    @media $tablet-max
      display: block

  &__participants-order
    padding: 20px 0 0 0 
    margin: 0 20px 0 0
    float: left
    width: calc(33.33% - 20px)
    
    @media $desktop
      width: calc(50% - 20px)
    
    @media $tablet-max
      width: calc(50% - 20px)
      
    @media $mobile-max
      width: calc(100% - 20px)
