<div class="cart cart_open cart_fixed">
  <button class="cart__open-button"></button>
  <h2 class="cart__header">
    Мои товары <b class="cart__total-price">(50&nbsp;000&nbsp;руб)</b>
  </h2>
  <div class="cart__food-list">
    <div class="cart__food">
      //= ../food_order/food_order.html
    </div>
    <div class="cart__food">
      //= ../food_order/food_order.html
    </div>
    <div class="cart__food">
      //= ../food_order/food_order.html
    </div>
    <div class="cart__food">
      //= ../food_order/food_order.html
    </div>
    <div class="cart__food">
      //= ../food_order/food_order.html
    </div>
    <div class="cart__food">
      //= ../food_order/food_order.html
    </div>
  </div>
  <div class="cart__action-buttons">
    <div class="cart__order-button">
      <a href="" class="button button_stretch">Оформить заказ</a>
    </div>
    <div class="cart__join-button" style="display: none">
      <a href="" class="button button_stretch">Присоединиться</a>
    </div>
    <div class="cart__cancel-button">
      <a href="" class="button button_transparent button_stretch">Удалить предложение</a>
    </div>
  </div>
</div>
