<div class="user-card user-card_editable"> 

  <div class="user-card__header">
    <h3 class="user-card__name" ng-bind=" $ctrl.name ">
      <b class="user-card__price" ng-bind="  $ctrl.price "></b>
    </h3>
    <span class="user-card__close">&#10005;</span>
  </div>
  
  <div class="user-card__body">
    <food-order 
      ng-repeat="itemFoodOrder in $ctrl.listFoodOrders"
      image="itemFoodOrder.image"
      food-counter="itemFoodOrder.foodCounter"
      price="itemFoodOrder.price"
      title="itemFoodOrder.title">
    </food-order>
  </div>

  <div class="user-card__footer" ng-show=" $ctrl.isFooter ">
    <input class="user-card__input" ng-model=" $ctrl.isPay " id="user-card__check" type="checkbox">
    <div class="user-card__input-custom"></div>
    <label class="user-card__input-label" for="user-card__check">Оплатил</label>
  </div>

</div>