<div class="server-error-message" ng-show="errorCaught" ng-click="hideError()" ng-bind="errorMessage">
</div>
<session-info title="sessionInfoTitle" session="session" shops="shops"></session-info>

<div class="main-content__column">
  <div class="last-page">
    <div class="last-page__part">
      <h2 class="last-page__block-title">Контактные данные</h2>

      <div class="last-page__part-content">
        <foodhub-form
          phone-value="outPhone"
          first-name="outFirstName"
          last-name="outLastName"
          mail-value="outMail"
          paytype-value="outPaytypeValue"
          address="outAddress">
        </foodhub-form>
      </div>
    </div>

    <div class="last-page__part last-page__part_big">
      <h2 class="last-page__block-title">Вcе товары (<span class="last-page__whole-price" ng-bind="session.price"></span>)</h2>
      <div class="checkout-card" ng-repeat="(key, value) in foodInfo">
        <div class="checkout-card__food">
          <food-order
            image="value.image"
            food-counter="value.counter"
            price="value.price"
            title="key">
          </food-order>
        </div>
        <div class="checkout-card__people">
          <span class="checkout-card__bold-text">Заказали:</span>
          <span class="checkout-card__names" ng-bind="value.orderedBy"></span>
        </div>
      </div>
    </div>

    <div class="last-page__footer">
      <a ng-click="postOrder()" class="button">Отправить</a>
      <a ng-href="/#/session/{{session.id}}" class="button button_transparent">Отмена</a>
    </div>
  </div>
</div>
