<div class="sign-in">
  <div class="sign-in__logo-container">
    <img class="sign-in__logo" src="img/logo.png" alt="FoodHub">
    <p class="sign-in__tagline">Объединатор доставок пищи</p>
  </div>
  <div class="sign-in__buttons-container">
    <h2 class="sign-in__title">Авторизация</h2>
    <a class="sign-in__button sign-in__button_fb" ng-href="{{facebookUrl}}">Войти через Facebook</a>
    <a class="sign-in__button sign-in__button_vk" ng-href="{{vkontakteUrl}}">Войти через Vkontakte</a>
  </div>
  <div class="sign-in__overlay"></div>
</div>
