.food-order
  min-width: 270px
  min-height: 70px
  height: auto
  overflow: hidden
  padding: 10px 0 10px 50px
  border-bottom: 1px solid $color_food_order_seaprator
  position: relative

  &.food-order_editable &__close
    display: block

  &__close
    position: absolute
    display: none
    right: 0
    top: 10px
    font-style: normal
    cursor: pointer

  &__image-container
    height: 43px
    width: 43px
    position: absolute
    left: 0
    overflow: hidden
    border-radius: 50%

  &__image
    max-width: 100%

  &__glance-container
    min-height: 43px
    padding-left: 10px
    padding-top: 5px
    padding-bottom: 5px

  &__name
    text-align: left
    font-size: 12px
    font-weight: 600
    padding-right: 15px
    margin-top: 0
    margin-bottom: 5px

  &__quantity
    overflow: hidden

  &__basic-price
    float: left
    position: relative

    &:after
      content: 'x'
      position: absolute
      right: -15px
      color: $color_food_order_seaprator

  &__quantity-input-container
    display: inline-block
    position: relative
    margin: 0 25px
    float: left

  &__total-price
    float: right
    position: relative
    color: $color_main
    font-weight: 500

    &:before
      content: '='
      position: absolute
      left: -15px
      top: 0
      color: $color_food_order_seaprator
