.session-info
  background-color: #303030
  padding: 46px 39px
  box-sizing: border-box
  overflow: hidden

  @media $mobile-max
    padding: 33px 28px

  &__header
    font-size: 34px
    color: #fff
    margin-top: 0
    font-weight: 500

  &__info-column
    display: inline-block
    width: 29.3%
    margin: 0 3%
    max-width: 250px
    float: left

    @media $tablet-max
      width: 100%
      max-width: 10000px
      margin: 0

    &:first-of-type
      margin-left: 0
      margin-top: 0

    &:last-of-type
      margin-right: 0
      margin-bottom: 0

  &__info-element
    height: auto

  &__info-label
    color: #999
    font-size: 16px

  &__info-value
    color: #999
    font-size: 16px
    font-weight: 600

  &__shop-select
    background-color: transparent
    border: none
    font-size: 18px
    color: #fff
    outline: none
    width: 100%
    padding-bottom: 6px
    margin-bottom: 9px
    height: 25px

    & .custom-select__options
      border: none
      background-color: #303030

    & .custom-select__option
      padding-left: 0

    & .custom-select__option_selected
      border-bottom: 1px solid #666 !important

    & .custom-select__option_selected:after
      color: #777

    & .custom-select_open .custom-select__option:hover
      background-color: transparent
      color: #fff
      text-decoration: underline

    & .custom-select_open .custom-select__option_selected:after
      color: #999

  &__shop-option
    background-color: #303030
    outline: none
    border: none

  &__input-label
    color: #999
    font-size: 14px

  &__input
    background: transparent
    border: none
    color: #fff
    border-bottom: 1px solid #666
    font-size: 18px
    outline: none
    width: 100%
    padding-bottom: 6px
    margin-bottom: 9px
    height: 25px
