<div class="session-info">
  <h1 class="session-info__header">Данные о заказе</h1>
  <div class="session-info__column">
    <div class="session-info__element">
      <label class="session-info__input-label" for="session-info__select">Выбор доставки:</label>
      <select class="session-info__select" id="session-info__select">
        <option value="1" class="session-info__option" selected>Пицца Темпо</option>
        <option value="2" class="session-info__option">ЕДраники</option>
        <option value="3" class="session-info__option">Лидо</option>
      </select>
    </div>
    <div class="session-info__element">
      <span class="session-info__label">Заказ от</span>
      <span class="session-info__value">140000 руб</span>
    </div>
    <div class="session-info__element">
      <span class="session-info__label">Время доставки:</span>
      <span class="session-info__value">08:30 - 22:30</span>
    </div>
    <div class="session-info__element">
      <a class="session-info__link" href="http://www.pizzatempo.by">www.pizzatempo.by</a>
    </div>
  </div>
  <div class="session-info__column">
    <div class="session-info__element">
      //= ../text_input/text_input.html
    </div>
  </div>
  <div class="session-info__column">
    <div class="session-info__element">
      //= ../text_input/text_input.html
    </div>
    <div class="session-info__element">
      <span class="session-info__label">Осталось собрать:</span>
      <span class="session-info__value">100000 руб</span>
    </div>
  </div>
</div>
