.cart
  min-width: 350px
  background: $color_primary_bg
  padding: 15px
  transform: translateX(100%)
  card()
  border-top-left-radius: 0
  transition: transform 0.5s ease

  &_fixed
    position: fixed
    right: 0
    top: 15px
    z-index: 20

  @media $mobile-max
    width: 100%

  &__open-button
    position: absolute
    left: 0
    top: 0
    cursor: pointer
    height: 45px
    width: 60px
    border: 0
    border-top-left-radius: 2px
    border-bottom-left-radius: 2px
    transform: translateX(-100%)
    background-size: cover, 50%
    transition: transform 0.5s ease
    box-shadow: -1px 1px 4px rgba(0, 0, 0, .5)

    &_hidden
      display: none

    &:focus
      outline: 0

    &:hover
      background-color: $color_button_primary_hover

  &__header
    color: $color_main_font
    width: 100%
    text-align: center
    margin-top: 10px

    @media $desktop-min
      text-align: left

    @media $mobile-max
      font-size: 26px

  &__total-price
    color: $color_main
    font-weight: 500

  &__food-list
    max-height: calc(100vh - 210px)
    overflow-y: auto

    @media $mobile-max
      max-height: calc(100vh - 245px)

  &__action-buttons
    margin-top: 20px

  &__order-button
  &__join-button
  &__cancel-button
    text-align: center
    margin: 8px 0

.cart_open
  transform: translateX(0)

  .cart__header
    @media $mobile-max
      padding: 0 50px

  .cart__open-button
    @media $mobile-max
      transform: translateX(0)
      border-radius: 2px
