<div class="cart cart_open" ng-class="{ 'cart_fixed' : $ctrl.isFixed }">
  <button class="cart__open-button cart__open-button_hidden"></button>
  <h2 class="cart__header">
    Мои товары <b class="cart__total-price" ng-bind="$ctrl.getTotalPrice() | moneyFilter" ></b>
  </h2>
  <div class="cart__food-list">
    <div class="cart__food">
      <food-order
        ng-repeat="foodOrder in $ctrl.order.foodOrders track by $index"
        image="foodOrder.food.imageUrl"
        food-counter="foodOrder.quantity"
        price="foodOrder.food.price"
        title="foodOrder.food.name"
        can-change-orders="true"
        on-delete="$ctrl.deleteOrder($index)">
      </food-order>
    </div>
  </div>
  <div class="cart__action-buttons">
    <div class="cart__confirm-button">
      <custom-button
        is-stretch
        ng-click="$ctrl.clickConfirmBtn()"
        title="$ctrl.confirmText">
      </custom-button>
    </div>

    <div class="cart__cancel-button">
      <custom-button
        is-transparent
        is-stretch
        ng-click="$ctrl.clickCancelBtn()"
        title="$ctrl.cancelText">
      </custom-button>
    </div>
  </div>
</div>
