.user-card
  display: block
  width: 100%
  max-width: 350px
  overflow: hidden
  margin: 15px
  box-shadow: 1px 1px 7px rgba(#000, 0.4)
  border-radius: 3px
  background-color: white
  transition: box-shadow .15s

  &_editable &__close
    display: block
    
  &_editable &__footer
    display: block
  
  &:first-child
    margin-left: 0
    
  &:last-child
    margin-right: 0
  
  &:hover
    box-shadow: 1px 1px 7px rgba(#000, 0.6)

  &__header,
  &__footer 
    background-color: rgba(#000, 0.05)
    position: relative
    
  &__footer
    display: none
    padding-left: 20px
    border-top: 1px solid rgba(#000, 0.2)

  &__header
    position: relative
    border-bottom: 1px solid rgba(#000, 0.2)

  &__close
    display: none
    position: absolute
    right: 0
    top: 0
    padding: 20px
    color: #000
    cursor: pointer
    box-shadow: -1px 0 0 rgba(#000, 0.2)
    font-size: 20px

    &:hover
      background-color: rgba(#000, 0.05)
      box-shadow: -1px 0 0 rgba(#000, 0.2)
  
  &__name
    padding: 20px
    margin: 0
    font-size: 14px
    font-weight: 500
    color: #000

  &__price
    font-size: 16px
    font-weight: 900
    color: $color_main
    
  &__body
    height: 300px
    overflow: auto
    overflow-x: hidden
    padding: 0 15px

  &__input-label
    display: inline-block
    padding: 20px 15px
    font-size: 14px
    color: #222
    user-select: none

  &__input
    position: relative
    opacity: 1
    outline: none

    &:focus::after
      position: absolute
      display: block
      width: 50px
      height: 50px
      top: 50%
      left: 50%
      transform: translate(-50%, -50%);
      pointer-events: none
      content: ""
      border-radius: 50px
      background-color: rgba($color_main, 0.2)
      z-index: 1

    &::before
      content: ""
      position: absolute
      top: 50%
      left: 50%
      width: 15px
      height: 15px
      border: 2px solid #444
      border-radius: 3px
      background-color: white
      z-index: 1
      transform: translate(-50%, -50%);

    &:checked::before
      width: 19px
      height: 19px
      border: none
      background: $color_main embedurl('../img/ic_check_white_24dp_2x.png') no-repeat center
      background-size: 100%
