<div class="user-card user-card_editable"> 

  <div class="user-card__header">
    <h3 class="user-card__name">Айсидора Дункай 
      <b class="user-card__price">(14 000)</b>
    </h3>
    <span class="user-card__close">&#10005;</span>
  </div>
  
  <div class="user-card__body">
    //= ../food_order/food_order.html
    //= ../food_order/food_order.html
  </div><!--.user-card__body-->


  <div class="user-card__footer">
    <input class="user-card__input" id="user-card__check" type="checkbox">
    <label class="user-card__input-label" for="user-card__check">Оплатил</label>
  </div>

</div>