<form class="form">
  <div class="form__line">
    <div class="text-input">
      <input
        ng-model="$ctrl.phoneValue"
        type="tel"
        id="text-input__phone"
        pattern= "\+375\s[0-9]{2}\s[0-9]{3}\s[0-9]{2}\s[0-9]{2}"
        class="text-input__input text-input__input_long"
        placeholder="+375 29 111 11 11"
        required>
      <label
        class="text-input__headline"
        for="text-input__phone">
        Телефон (В формате +375 29 XXX XX XX)
      </label>
    </div>
  </div>

  <div class="form__line">
    <text-input model="$ctrl.mailValue" placeholder="name@yandex.ru" name="email" label="E-mail" type="email"></text-input>
  </div>
  <div class="form__line">
    <text-input model="$ctrl.firstName" placeholder="Иван" name="firstName" label="Имя" type="text"></text-input>
  </div>
  <div class="form__line">
    <text-input model="$ctrl.lastName" placeholder="Иванович" name="lastName" label="Фамилия" type="text"></text-input>
  </div>
  <div class="form__line">
    <text-input model="$ctrl.address" placeholder="г. Минск, ул. Названиеулицы, д. Дом" name="address" label="Адрес" type="text"></text-input>
  </div>
  <div class="form__line">
    <div class="form__headline">
      <span>Способ оплаты</span>
    </div>
    <div class="form__paytype">
      <div class="form__paytype-item">
        <input ng-model="$ctrl.paytypeValue" ng-value="0" name="radiobutton" class="form__paytype-radio" type="radio" id="form__paytype-option1" checked>
        <label class="form__paytype-label" for="form__paytype-option1">Наличными курьеру</label>
      </div>
      <div class="form__paytype-item">
        <input ng-model="$ctrl.paytypeValue" ng-value="1" name="radiobutton" class="form__paytype-radio" type="radio" id="form__paytype-option2">
        <label class="form__paytype-label" for="form__paytype-option2">Карточкой курьеру</label>
      </div>
    </div>
  </div>
  <input class="form__submit-button" id="form__submit-button" type="submit" >
</form>
