* 
  box-sizing: border-box

html, body
  height: 100%

body
  font-family: 'Roboto'
  font-size: 16px
  font-weight: 400
  min-width: 320px
  cl-black()

h1
  font-size: 35px

h2
  font-size: 24px

h3
  font-size: 16px

a 
  cl-green()
  text-decoration: none
  cursor: pointer

  &:hover
    text-decoration: underline
