* 
  box-sizing: border-box

html, body
  height: 100%

body
  default_font()
  min-width: 320px
  color: $color_body_text

h1
  font-size: 35px

h2
  font-size: 24px

h3
  font-size: 16px

a 
  color: $color_main
  text-decoration: none
  cursor: pointer

  &:hover
    text-decoration: underline
