$desktop-lg = "only screen and (min-width: 70.5625em)" /* >= 1129px  */
$desktop = "only screen and (max-width: 70.5em) and (min-width: 59.375em)" /* 950px - 1128px  */
$desktop-min = "only screen and (min-width: 59.375em)" /* >= 950px */
$tablet-max = "only screen and (max-width: 59.3125em)" /* <= 949px */
$tablet = "only screen and (max-width: 59.3125em) and (min-width: 35.5625em)" /* 569px - 949px */
$mobile-max = "only screen and (max-width: 35.5em)" /* <= 568px */
$mobile = "only screen and (max-width: 35.5em) and (min-width: 20.0625em)" /* 321px -  568px */
$mobile-sm = "only screen and (max-width: 20em)" /* <= 320px */

$color_primary_bg = #f2f2f2
$color_secondary_bg = #fff
$color_session_info_bg = #333
$color_main = #4caf50
$color_main_font = #676767
$color_session_info_text = #fff
$color_session_info_label = #999
$color_body_text = #000
$color_food_order_seaprator = #999
$color_tab_label = #676767
$color_select_text = #000
$color_session_info_input_border = #666
$color_form_secondary = #777
$color_form_text = #222
$color_form_text_invert = #fff
$color_form_invert_input_bg = #333
$color_sign_in = #fff
$color_sign_in_shadow = #000
$color_fb_button_bg = #2a7bb3
$color_vk_button_bg = #4c75a3
$color_footer_bg = #333
$color_footer_text = #999
$footer_height = 40px
$color_button_primary_hover = #3f9042
$color_button_primary_active = #5ecc62
$color_food_order_seaprator = #999
$color_tab_label = #676767
$color_session_list_title_big = #3e3e3e
$color_session_list_row_border = #eaeaea

default_font()
  font: 400 16px 'Roboto'
  text-decoration: none
  font-style: normal

truncate()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

cleafix()
  &:after
    content: ""
    display: block
    clear: both
