$color_primary_bg = #F2F2F2
$color_secondary_bg = #fff
$color_session_info_bg = #333
$color_main = #4CAF50
$color_session_info_text = #fff
$color_body_text = #000

default_font()
  font-family: 'Roboto'
  font-size: 16px
  font-weight: 400
  text-decoration: none
  font-style: normal
