.user-page
  margin: 0 40px
  padding-bottom: 100px
  border: $border_separator

  @media $mobile-max
    margin: 0 5px

  &__title
    padding: 30px 20px
    border-bottom: $border_separator 
  
  &__footer
    padding: 40px 20px
    border-top: $border_separator 

  &__part
    display: inline-block
    padding: 0 20px
    vertical-align: top
    width: 40%
    margin-bottom: 30px
    

    @media $tablet-max
      width: 60%
      
    &_smal
      @media $tablet-max
        width: 30%

    &
      @media $mobile-max
        width: 100%
    
  &__image
    display: block
    width: 80%
    max-width: 300px
    margin-bottom: 20px

    @media $mobile-max
      width: 100%
