<div class="my-profile">
  <span class="my-profile__name" ng-bind="currentUser.firstName + ' ' + currentUser.lastName"></span>

  <div class="my-profile__image-container">
    <img class="my-profile__image" alt="alt" ng-src="{{ currentUser.avatarUrl || defaultAvatarUrl }}">
  </div>

  <ul class="my-profile__menu">
    <li class="my-profile__link-container">
      <a class="my-profile__link" href="/#/profile">Моя страница</a>
    </li>

    <li class="my-profile__link-container-top-border my-profile__link-container">
      <a class="my-profile__link" href="#">История моих заказов</a>
    </li>

    <li class="my-profile__link-container">
      <a class="my-profile__link" href="#">Моя статистика</a>
    </li>

    <li class="my-profile__link-container">
      <a class="my-profile__link" href="#">Настройки</a>
    </li>

    <li class="my-profile__link-container-top-border my-profile__link-container">
      <a class="my-profile__link" href="#">Выход</a>
    </li>
  </ul>
</div>