.sign-in
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  position: relative
  width: 100%
  height: 100vh
  min-height: 480px
  background: url('../img/sign_in_bg.jpg') no-repeat 50% 0
  background-size: cover

  &__overlay
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background: $color_main
    opacity: .6
    z-index: 1

  &__logo-container
  &__buttons-container
    position: relative
    z-index: 2

  &__logo-container
    margin-bottom: 32px
    text-align: center

  &__logo
    display: block
    width: 100%
    max-width: 260px
    margin: 0 auto 10px

  &__tagline
    font-size: 14px
    margin: 0
    color: $color_sign_in

  &__buttons-container
    width: 100%
    max-width: 380px
    padding: 20px 20px 35px
    background: $color_sign_in
    border-radius: 2px
    box-shadow: 0 3px 25px 0 rgba($color_sign_in_shadow, .49)

  &__title
    position: relative
    margin: 0 0 20px
    line-height: 36px
    font-size: 24px
    font-weight: 400
    color: $color_main

    &::before
      display: block
      content: ''
      position: absolute
      top: 0
      left: -20px
      width: 5px
      height: 100%
      background: $color_main

  &__button
    display: block
    padding-left: 42px
    background: no-repeat 10px center
    background-size: 20px
    border-radius: 2px
    box-shadow: 0 2px 3px 0 rgba($color_sign_in_shadow, .22)
    color: $color_sign_in
    line-height: 46px
    font-size: 14px
    font-weight: 500

    &:hover
      text-decoration: none

    &_fb
      background-color: $color_fb_button_bg
      background-image: embedurl('icon_fb.png')

      &:hover
        background-color: darken($color_fb_button_bg, 10)

    &_vk
      background-color: $color_vk_button_bg
      background-image: embedurl('icon_vk.png')
      
      &:hover
        background-color: darken($color_vk_button_bg, 10)

    & + &
      margin-top: 14px
