<form class="form">
  <div class="form__line">
    <input type="text" id="form__input-phone" class="form__input form__input_regular" value="+375291112233">
    <label class="form__headline" for="form__input-phone">Телефон</label>
  </div>
  <div class="form__line">
    <input type="text" id="form__input-email" class="form__input form__input_regular" value="name@site">
    <label class="form__headline" for="form__input-email">E-mail</label>
  </div>
  <div class="form__line">
    <input type="text" id="form__input-name" class="form__input form__input_regular" value="Ив Сен-Лоран">
    <label class="form__headline" for="form__input-name">Имя</label>
  </div>
  <div class="form__line">
    <div class="form__headline">
      <span>Способ оплаты</span>
    </div>
    <div class="form__paytype">
      <div class="form__paytype-item">
        <input name="radiobutton" class="form__paytype-radio" type="radio" id="form__paytype-option1" checked>
        <label class="form__paytype-label" for="form__paytype-option1">Наличными курьеру</label>
      </div>
      <div class="form__paytype-item">
        <input name="radiobutton" class="form__paytype-radio" type="radio" id="form__paytype-option2">
        <label class="form__paytype-label" for="form__paytype-option2">Карточкой курьеру</label>
      </div>
    </div>
  </div>
  <div class='form__submit-button'>
    Отправить
  </div>
</form>

