.form
  &__line
    margin-bottom: 40px
    padding-top: 14px
    position: relative

  &__input
    font-size: 16px
    height: 29px
    color: $color_form_text
    border: 0
    border-bottom: 1px solid $color_form_secondary
    outline: none
    width: 66%

    &_short
      width: 150px

    &_regular
      width: auto

    &:focus
      border-bottom: 2px solid $color_main

      & ~ .form__headline
        color: $color_main

  &__headline
    font-size: 12px
    color: $color_form_secondary
    position: absolute
    top: 0
    left: 0

  &__paytype
    &-item
      position: relative
      padding-left: 20px
      margin-top: 8px

    &-radio
      display: none

      &:not(checked) + label:after
        content: ''
        position: absolute
        top: 6px
        left: 5px
        width: 7px
        height: 7px
        border-radius: 25px
        background: $color_main
        opacity: 0

      &:checked + label:after
        opacity: 1

      &:checked ~ .form__paytype-label
        font-weight: 500

    &-label
      cursor: pointer
      user-select: none
      margin-left: 4px

      &:before
        content: ""
        display: inline-block
        width: 13px
        height: 13px
        position: absolute
        left: 0
        bottom: 1px
        background: #fff
        border: 2px solid $color_main
        border-radius: 25px

  &__submit-button
    display: block
    color: $color_session_info_text
    background-color: $color_main
    height: 40px
    width: 280px
    padding: 0 16px
    text-align: center
    font-size: 14px
    cursor: pointer
    line-height: 40px
    text-transform: uppercase
    font-weight: 500
    box-shadow: 1px 1px 5px rgba($color_regular_shadow, 0.7)
    user-select: none

    &:hover
      background-color: $color_button_hover

    &:active
      background-color: $color_button_active
      color: $color_main

