<div class="main-content__column">
  <div class="server-error-message" ng-show="errorCaught" ng-click="hideError()" ng-bind="errorMessage">
  </div>
  <div class="session-list-page">
    <div class="session-list-page__header">
      <h1 class="session-list-page__header-title">Список предложений</h1>
      <div class="session-list-page__header-button">
        <a href="/#/food/new" class="button">Добавить новое предложение</a>
      </div>
    </div>
    <div class="session-list-page__content">
      <session-list list="mappedSessions"></session-list>
    </div>
  </div>
</div>
