<div>
  //= ../session_info/session_info.html
</div>

<div class="main-content__column">
  <div class="last-page">

    <div class="last-page__part">
      <h2 class="last-page__block-title">Контактные данные</h2>
      //= ../form/form.html
    </div>

    <div class="last-page__part last-page__part_big">
      <h2 class="last-page__block-title">Вcе товары (<span class="last-page__whole-price">550 000</span>)</h2>

      <div class="checkout-card">
        <div class="checkout-card__food">
          //= ../food_order/food_order.html
        </div>
        <div class="checkout-card__people">
          <span class="checkout-card__bold-text">Заказали:</span>
          <span class="checkout-card__names">Иван Мороз(x1), Михаил Савич(x2)</span>
        </div>
      </div>

      <div class="checkout-card">
        <div class="checkout-card__food">
          //= ../food_order/food_order.html
        </div>
        <div class="checkout-card__people">
          <span class="checkout-card__bold-text">Заказали:</span>
          <span class="checkout-card__names">Михаил Савич(x2)</span>
        </div>
      </div>

      <div class="checkout-card">
        <div class="checkout-card__food">
          //= ../food_order/food_order.html
        </div>
        <div class="checkout-card__people">
          <span class="checkout-card__bold-text">Заказали:</span>
          <span class="checkout-card__names">Иван Мороз(x1), Михаил Савич(x2)</span>
        </div>
      </div>

      <div class="checkout-card">
        <div class="checkout-card__food">
          //= ../food_order/food_order.html
        </div>
        <div class="checkout-card__people">
          <span class="checkout-card__bold-text">Заказали: </span>
          <span class="checkout-card__names">Иван Мороз(x1), Михаил Савич(x2), Григорий Пенский(x1), Григорий Пенский(x1)</span>
        </div>
      </div>

    </div>

    <div class="last-page__footer">
      <a href="" class="button">Отправить</a>
      <a href="" class="button button_transparent">Отмена</a>
    </div>
  </div>
</div>
