<div class="session-list" ng-controller="SessionController as session_list">
  <div class="session-list__row" ng-repeat="session in session_list.sessions">
    <div class="session-list__col session-list__col_service">
      <a ng-href="{{session.delivery_url}}"><img class="session-list__service-img" alt="Логотип службы доставки" ng-src="{{session.image}}"></a>
    </div>
    <div class="session-list__col session-list__col_desc">
      <span class="session-list__new-line session-list__title"><a ng-href="{{session.delivery_url}}">{{session.delivery_url}}</a></span>
      <div class="session-list__hide-on-mobile">
        <div class="session-list__new-line">
          <span class="session-list__label">Время работы: </span>
          <span class="session-list__title session-list__title_dark">{{session.delivery_timetable}}</span>
        </div>
        <div class="session-list__new-line">
          <span class="session-list__label">Минимальная сумма заказа: </span>
          <span class="session-list__title session-list__title_dark">{{session.minimal_delivery_price}}</span>
        </div>
        <div class="session-list__new-line">
          <span class="session-list__label">Бесплатная доставка</span>
        </div>
      </div>
    </div>
    <div class="session-list__col session-list__col_author">
      <div class="session-list__new-line">
        <span class="session-list__title">{{session.author_name}}</span>
        <span class="session-list__label"> заказал на:</span>
      </div>
      <span class="session-list__title session-list__title_big">{{session.order_time}}</span>
      <div class="session-list__new-line">
        <span class="session-list__label">Осталось </span>
        <span class="session-list__title">{{session.order_time_left}}</span>
      </div>
    </div>
    <div class="session-list__col session-list__col_price">
      <div class="session-list__new-line">
        <span class="session-list__label">Общая сумма заказа:</span>
      </div>
      <span class="session-list__title session-list__title_big">{{session.total_price}}</span>
      <div class="session-list__new-line">
        <span class="session-list__label">Осталось </span>
        <span class="session-list__title">{{session.price_left}}</span>
      </div>
    </div>
    <div class="session-list__col session-list__col_button">
      <a href="/session_page_users.html" class="button">Просмотреть</a>
    </div>
  </div>
</div>
