<div class="server-error-message" ng-show="errorCaught" ng-click="hideError()" ng-bind="errorMessage">
</div>
<session-info
  title="sessionInfoTitle"
  session="session"
  shops="shops"
  can-change-time="session.status != 2 && isSessionCreator(session)"
  can-change-shop="isNewSession">
</session-info>

<div class="main-content__column">
  <div class="session-page">
    <div class="session-page__col-small">
      <cart is-fixed="false" on-confirm="saveOrder" order="order"></cart>
      <div
        class="error-message session-page__empty-order-message"
        ng-show="emptyOrderMessageShow"
        ng-bind="emptyOrderMessage">
      </div>
    </div>

    <div class="session-page__col-big">
      <div class="session-page__header">
        <h2 class="session-page__header-title">Список товаров для заказа</h2>
      </div>
      <menu-tabs>
        <menu-pane class="session-page__category" ng-repeat="category in selectedShop.categories track by $index" title="{{category.name}}">
          <product-card class="session-page__participants-order" ng-repeat="food in category.foods track by $index" food="food" on-add="addFoodToCart"></product-card>
        </menu-pane>
      </menu-tabs>
    </div>

    
  
</div>
