.button
  display: inline-block
  padding: 8px 23px 6px 23px
  color: $color_session_info_text
  background-color: $color_main
  font-size: 14px
  text-align: center
  cursor: pointer
  border-radius: 2px
  line-height: 17px
  text-transform: uppercase
  font-weight: 500
  user-select: none
  transition: background-color 0.2s
  card()

  &:hover
    background-color: $color_button_primary_hover
    text-decoration: none

  &:focus
    text-decoration: none

  &:active
    background-color: $color_button_primary_active

  &_transparent
    padding: 8px 10px
    border-radius: 2px
    color: $color_main
    background-color: transparent
    box-shadow: none

    &:hover
      background-color: rgba($color_main, 0.2)
      text-decoration: none

  &_stretch
    width: 100%
