<header class="header">
  <div class="header__center-column">  
    <hr>

    <a href="#" class="header__logo">FoodHub - список сессий</a>

    <hr>


    <div class="my-profile">
      <h3 class="my-profile__name">Василий прохоров </h3>

      <div class="my-profile__image-container">
        <img class="my-profile__image" width="50px" src="https://upload.wikimedia.org/wikipedia/commons/8/80/Knut_IMG_8095.jpg">
      </div>

      <ul class="my-profile__menu">
        <li class="my-profile__link-container"><a class="my-profile__link" href="#">Моя страница</a></li>
        <hr>
        <li class="my-profile__link-container"><a class="my-profile__link" href="#">Выход</a></li>
      </ul>

    </div> <!--.header-user-->




    <hr>
  </div>
</header>