.header
  box-shadow: 0 0 8px rgba(0,0,0,.5)
  width: 100%
  height: $header_height
  background-color: $color_main

  &__center-column
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: flex-start
    height: $header_height
    position: relative
    margin: 0 40px

    @media $mobile-max
      margin: 0 5px
  
  &__logo
    display: block
    width: 125px
    height $header_height
    color: transparent
    
    background: embedurl('../img/logo.png') no-repeat center
    background-size: 125px auto 

    @media $mobile-sm
      width: 100px
      background-size: 100% auto
