<div class="session-info">
  <h1 class="session-info__header">
    <span ng-bind="$ctrl.title"></span>
    <span ng-show="$ctrl.session.status == 1">(В ожидании доставки)</span>
    <span ng-show="$ctrl.session.status == 2">(Завершенно)</span>
  </h1>
  <h3 class="session-info__sub-header">
    Автор: <span class="session-info__owner-name" ng-bind="$ctrl.getNameOwner()"></span>
  </h3>

  <div class="session-info__column">
    <div class="session-info__element">
      <div class="session-info__select-container">
        <select 
          class="session-info__select" 
          id="session-info__select{{ $ctrl.selectUniqID }}" 
          ng-model="$ctrl.selectedShop" 
          ng-options="shop.name for shop in $ctrl.shops" 
          ng-change="$ctrl.onShopChanged()"
          ng-disabled="!$ctrl.canChangeShop">
        </select>
        <label class="session-info__input-label" for="session-info__select{{ $ctrl.selectUniqID }}">Выбор доставки:</label>
      </div>
    </div>
    <div class="session-info__element">
      <span class="session-info__label">Заказ от:</span>
      <span class="session-info__value" ng-bind="$ctrl.selectedShop.minOrderPrice | moneyFilter"></span>
    </div>
    <div class="session-info__element">
      <span class="session-info__label">Время оформления заказа:</span>
      <span class="session-info__value" ng-bind="$ctrl.selectedShop.deliveryTime"></span>
    </div>
    <div class="session-info__element">
      <a class="session-info__link" ng-href="{{ $ctrl.selectedShop.siteUrl }}" target="_blank" ng-bind="$ctrl.selectedShop.siteUrl"></a>
    </div>
  </div>
  <div class="session-info__column">
    <div class="session-info__element">
      <text-input 
        model="$ctrl.sessionTime" 
        label="Время заказ" 
        name="time" 
        inverted="true" 
        invalid="$ctrl.session.invalidTime" 
        readonly="!$ctrl.canChangeTime" 
        on-change="$ctrl.onSessionTimeChanged()">
      </text-input>
    </div>
  </div>
  <div class="session-info__column">
    <div class="session-info__element">
      <text-input 
        model="$ctrl.getTotalPrice()" 
        label="Общая сумма заказа:" 
        name="price" 
        inverted="true" 
        readonly="true">
      </text-input>
    </div>
    <div class="session-info__element">
      <span class="session-info__label">Осталось собрать:</span>
      <span class="session-info__value" ng-bind="$ctrl.getRemainAmount() | moneyFilter"></span>
    </div>
  </div>
</div>
