<!--  Кастомный селект, отложено на потом - не удалять!
<div class="custom-select">
  <ul class="custom-select__options">
    <li class="custom-select__option custom-select__option_selected">Пицца Темпо</li>
    <li class="custom-select__option">ЕДраники</li>
    <li class="custom-select__option">Лидо</li>
  </ul>
  <select class="custom-select__control" id="custom-select__shop-select">
    <option value="1" class="custom-select__control-option" selected>Пицца Темпо</option>
    <option value="2" class="custom-select__control-option">ЕДраники</option>
    <option value="3" class="custom-select__control-option">Лидо</option>
  </select>
</div>
-->