.quantity-input
  display: inline-block

  &__button
    border: $border_separator;
    border-radius: 2px
    width: 17px
    display: inline-block
    margin: 1px -1px
    padding: 1px 0
    text-align: center
    cursor: pointer
    font-size: 14px
    user-select: none

    &:hover
      background-color: $color_main
      color: #fff

    &:active
      background-color: rgba($color_main, 0.8)
      box-shadow: inset 0 -1px 1px rgba(0, 0, 0, 0.1), inset 0 1px 2px rgba(0, 0, 0, 0.3)

  &__counter
    display: inline-block
    min-width: 18px
    font-size: 12px
    line-height: 18px
    text-align: center
