<div class="product-card" ng-class="{'product-card_active': $ctrl.isAdded}">

  <div class="product-card__header">
    <div class="product-card__image-container">
      <img class="product-card__image" alt="" ng-src="{{ $ctrl.image }}" >
    </div>
    <h3 class="product-card__info product-card__name" ng-bind=" $ctrl.title "></h3>
    <h3 class="product-card__info product-card__description" ng-bind=" $ctrl.text "></h3>
  </div>

  <div class="product-card__body">
    <div class="product-card__half">
      <span class="product-card__label">Количество:</span>
      <quantity-input ng-model="$ctrl.foodCounter"></quantity-input>
    </div>

    <div class="product-card__half product-card__half-text-align-right">
      <span class="product-card__label">Цена за порцию:</span>
      <h4 class="product-card__price" ng-bind="$ctrl.price | moneyFilter"></h4>
    </div>

  </div>

  <div class="product-card__footer">

    <custom-button 
      ng-show="!$ctrl.isAdded" 
      on-click="$ctrl.clickAddBtn()"
      is-transparent
      title="Добавить в корзину">
    </custom-button>


    <custom-button 
      ng-show="$ctrl.isAdded" 
      on-click="$ctrl.clickDeleteBtn()"
      title="Удалить из корзину">
    </custom-button>

  </div>

</div>
