*
  box-sizing: border-box

html
  height: 100%

body
  default_font()
  min-width: 320px
  min-height: 100%
  position: relative
  color: $color_body_text
  background-color: $color_primary_bg
  padding-bottom: $footer_height

h1
  font-size: 35px

h2
  font-size: 24px

h3
  font-size: 16px

h1,
h2,
h3
  font-weight: 500

a
  color: $color_main
  text-decoration: none
  cursor: pointer
  outline: 0

  &:hover, &:focus
    text-decoration: underline


.main-content

  &__column
    margin: 0 20px
    padding-bottom: 20px
    clearfix()

    @media $tablet-max
      margin: 0 10px

    @media $mobile-max
      margin: 0 5px

.error-message
  width:100%
  text-align:center

.server-error-message
  width: 70%
  z-index: 2
  position: absolute
  left: 15%
  height: 75px
  line-height: 75px
  border-radius: 0 0 5px 5px
  background-color: #800053
  text-align: center
  color: #fff
  cursor: pointer
