<div class="session-page__header">
  <h2 class="session-page__header-title">Список товаров для заказа</h2>
  <div class="session-page__card-link">
    //= ../cart/cart_fixed.html
  </div>
</div>

<div class="menu-tabs">
  <input class="menu-tabs__tab-selector" id="menu-tabs__tab1" type="radio" name="menu-tabs" checked>
  <label class="menu-tabs__tab-label" for="menu-tabs__tab1" title="Вкладка 1">Блины</label>
  <input class="menu-tabs__tab-selector" id="menu-tabs__tab2" type="radio" name="menu-tabs">
  <label class="menu-tabs__tab-label" for="menu-tabs__tab2" title="Вкладка 2">Супы</label>
  <input class="menu-tabs__tab-selector" id="menu-tabs__tab3" type="radio" name="menu-tabs">
  <label class="menu-tabs__tab-label" for="menu-tabs__tab3" title="Вкладка 3">Пицца</label>
  <input class="menu-tabs__tab-selector" id="menu-tabs__tab4" type="radio" name="menu-tabs">
  <label class="menu-tabs__tab-label" for="menu-tabs__tab4" title="Вкладка 4">Напитки</label>
   <section class="menu-tabs__content" id="menu-tabs__content1">
    <div class="session-page__part">
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
    </div>
  </section>
  <section class="menu-tabs__content" id="menu-tabs__content2">
    <div class="session-page__part">
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
    </div>
  </section>
  <section class="menu-tabs__content" id="menu-tabs__content3">
    <div class="session-page__part">
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
    </div>
  </section>
  <section class="menu-tabs__content" id="menu-tabs__content4">
    <div class="session-page__part">
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
      <div class="session-page__participants-order">
        //= ../product_card/product_card.html
      </div>
    </div>
  </section>
</div>