.footer
  height: $footer_height
  background-color: $color_footer_bg
  padding: 10px
  text-align: center
  position: absolute
  left: 0
  right: 0
  bottom: 0

  &__copyright
    color: $color_footer_text
