.session-list
  font-size: 14px
  color: $color_main_font

  .session-list__title-block
    border-bottom: $border_separator
    font-size: 22px
    padding-bottom: 10px
    padding-top: 30px
    font-weight: 400

  .session-list__active + .session-list__active
      .session-list__title-block
        display none


  .session-list__history + .session-list__history
      .session-list__title-block
        display none


  .session-list__sent + .session-list__sent
      .session-list__title-block
        display none

  &__history
    opacity: 0.7


  &__row
    clearfix()
    padding: 20px 0
    border-bottom: 1px solid $color_session_list_row_border

  &__col
    padding: 10px

    @media $desktop
      padding: 10px 5px

    @media $tablet-max
      text-align: center

    @media $mobile-max
      padding: 5px 5px

    &_service
      col-12()
      text-align: center

      @media $desktop-min
        col-2()

    &_desc
      col-12()

      @media $desktop-min
        col-3()

      @media $mobile-max
        display: none

    &_author
      @media $desktop-min
        col-2()

      @media $tablet
        col-6()

      @media $mobile-max
        col-12()

    &_price
      @media $desktop-min
        col-2()

      @media $tablet
        col-6()

      @media $mobile-max
        col-12()

    &_button
      col-12()
      padding-top: 20px

      @media $desktop-min
        col-3()

      & .button
        display: block
        text-align: center
        margin: 0 auto
        width: 150px

  &__hide-on-mobile
    @media $mobile-max
      display: none

  &__service-img
    vertical-align: middle
    max-height: 100px
    max-width: 100%

    @media $tablet
      max-height: 70px
      max-width: 140px

    @media $mobile-max
      max-height: 50px
      max-width: 100px

  &__new-line
    display: block

  &__label
    @media $mobile-max
      font-size: 15px

  &__title
    color: $color_main
    font-weight: 500

    @media $mobile-max
      font-size: 15px

    &_dark
      color: $color_session_list_title_big

    &_big
      display: block
      font-size: 20px
      color: $color_session_list_title_big
