.session-page
  position: relative
  background-color: rgba($color_secondary_bg, 0.3)
  border: $border_separator
  margin-bottom: 50px
  clearfix()
  


  &__copy-btn
    padding-top: 10px

  &__button
    position: absolute
    top: 27px
    right: 20px
    width: 300px

    @media $mobile-max
      position: relative
      right: 0
      width: 100%
      padding-right: 20px
      padding-left: 20px

  &__footer
    padding: 40px 20px 20px 20px
    width: 100%
    @media $mobile-max
      padding: 20px

  &__footer-button
    width: 200px
    display: inline-block
    margin-right: 15px
    @media $mobile-max
      width: 100%
      padding-right: 0px
      margin: 0px 0px 10px 0px



  &__confirm-order-button
    margin-top: 20px
    margin-left: 40px

    @media $mobile-max
      margin-top: 10px
      margin-left: 20px
      width: calc(100% - 40px)

  &__delete-session-button
    margin-top: 20px
    margin-left: 20px

    @media $mobile-max
      margin-top: 10px
      margin-left: 20px
      width: calc(100% - 40px)

  &__header
    position: relative
    @media $mobile-max
      padding-bottom: 40px

  &__header-title
    page_header_title()
    margin-bottom: 0

    @media $tablet-max
      padding-right: 360px

    @media $desktop-min
      width: auto
      text-align: left

    @media $mobile-max
      font-size: 26px
      padding-top: 60px
      padding-right: 0

  &__owners-order-price
    color: $color_main
    font-weight: 500

  &__content
    clearfix()

  &__part
    padding: 0 0 0 0px
    clearfix()

  &__col-big
    float: right
    width: 70%
    border-right:$border_separator
    padding-bottom: 40px;
    @media $desktop
      width: 62%

    @media $tablet-max
      width: 100%

  &__col-small
    float: right
    width: 30%

    @media $desktop
      width: 38%

    @media $tablet-max
      width: 100%

  &__card-link
    display: none

    @media $tablet-max
      display: block

  &__participants-order
    padding: 18px 0 0 0
    margin: 3px 0px 10px 18px
    float: left
    width: calc(33.33% - 25px)


    @media $desktop
      width: calc(50% - 25px)

    @media $tablet-max
      width: calc(50% - 25px)

    @media $mobile-max
      width: calc(100% - 40px)

  &__empty-session
    height: 200px
    width: 100%
    text-align: center
