<div class="food-order food-order_editable">
  <i ng-click=" $ctrl.clickCloseBtn() " class="food-order__close">&#10005;</i>
  <div class="food-order__image-container">
    <img class="food-order__image"  ng-src="{{ $ctrl.image }}">
  </div>
  <div class="food-order__glance-container">
    <h3 class="food-order__name" ng-bind="$ctrl.title"></h3>
    <div class="food-order__quantity">

      <span 
        class="food-order__basic-price" 
        ng-bind="$ctrl.getPrice()">
      </span>

      <div class="food-order__quantity-input-container">

        <quantity-input ng-model="$ctrl.foodCounter"></quantity-input>
      </div>

      <span 
        class="food-order__total-price" 
        ng-bind="$ctrl.getTotalPrice()">
      </span>
    </div>
  </div>
</div>
