<div class="session-list">
  <div class="session-list__row">
    <div class="session-list__col d-lg2 d12 t12 m12 session-list__col-service">
      <a href="http://eda.by"><img class="session-list__col__service-img" src="img/services_logo/eda-by.png"></a>
    </div>
    <div class="session-list__col d-lg3 d4 t12 m12 session-list__col-desc">
      <p><span class="session-list__col__title">www.eda.by</span><br>
      Время работы: <b>круглосуточно</b><br>
      Минимальная сумма заказа: <b>100 000 р.</b><br>
      Бесплатная доставка</p>
    </div>
    <div class="session-list__col d-lg2 d4 t6 m12 session-list__col-author">
      <p><span class="session-list__col__title">Василий Пупкин</span> заказал на:<br>
      <span class="session-list__col__title-big">14:50</span><br>
      Осталось <span class="session-list__col__title"><b>30 минут</b></span></p>
    </div>
    <div class="session-list__col d-lg2 d4 t6 m12 session-list__col-price">
      <p>Общая сумма заказа:<br>
      <span class="session-list__col__title-big">290 000 р.</span><br>
      Осталось <span class="session-list__col__title"><b>110 000 р.</b></span></p>
    </div>
    <div class="session-list__col d-lg3 d12 t12 m12 session-list__col-button">
      <div class="session-list__col__button-preview">Просмотреть</div>
    </div>
  </div>
  <div class="session-list__row">
    <div class="session-list__col d-lg2 d12 t12 m12 session-list__col-service">
      <a href="http://edraniki.by/"><img class="session-list__col__service-img" src="img/services_logo/edraniki-by.png"></a>
    </div>
    <div class="session-list__col d-lg3 d4 t12 m12 session-list__col-desc">
      <p><span class="session-list__col__title">http://edraniki.by/</span><br>
      Время работы: <b>11:00 - 22:30</b><br>
      Минимальная сумма заказа: <b>180 000 р.</b><br>
      Бесплатная доставка</p>
    </div>
    <div class="session-list__col d-lg2 d4 t6 m12 session-list__col-author">
      <p><span class="session-list__col__title">Василий Пупкин</span> заказал на:<br>
      <span class="session-list__col__title-big">15:00</span><br>
      Осталось <span class="session-list__col__title"><b>30 минут</b></span></p>
    </div>
    <div class="session-list__col d-lg2 d4 t6 m12 session-list__col-price">
      <p>Общая сумма заказа:<br>
      <span class="session-list__col__title-big">350 000 р.</span><br>
      Осталось <span class="session-list__col__title"><b>60 000 р.</b></span></p>
    </div>
    <div class="session-list__col d-lg3 d12 t12 m12 session-list__col-button">
      <div class="session-list__col__button-preview">Просмотреть</div>
    </div>
  </div>
</div>
