<div class="session-list">
  <div class="session-list__row">
    <div class="session-list__col session-list__col_service">
      <a href="http://eda.by"><img class="session-list__service-img" alt="Логотип службы доставки" src="img/services_logo/eda-by.png"></a>
    </div>
    <div class="session-list__col session-list__col_desc">
      <span class="session-list__new-line session-list__title"><a href="http://eda.by">http://eda.by</a></span>
      <div class="session-list__hide-on-mobile">
        <div class="session-list__new-line">
          <span class="session-list__label">Время работы: </span>
          <span class="session-list__title session-list__title_dark">круглосуточно</span>
        </div>
        <div class="session-list__new-line">
          <span class="session-list__label">Минимальная сумма заказа: </span>
          <span class="session-list__title session-list__title_dark">100&nbsp;000&nbsp;р.</span>
        </div>
        <div class="session-list__new-line">
          <span class="session-list__label">Бесплатная доставка</span>
        </div>
      </div>
    </div>
    <div class="session-list__col session-list__col_author">
      <div class="session-list__new-line">
        <span class="session-list__title">Василий Пупкин</span>
        <span class="session-list__label"> заказал на:</span>
      </div>
      <span class="session-list__title session-list__title_big">14:50</span>
      <div class="session-list__new-line">
        <span class="session-list__label">Осталось </span>
        <span class="session-list__title">30&nbsp;минут</span>
      </div>
    </div>
    <div class="session-list__col session-list__col_price">
      <div class="session-list__new-line">
        <span class="session-list__label">Общая сумма заказа:</span>
      </div>
      <span class="session-list__title session-list__title_big">290&nbsp;000&nbsp;р.</span>
      <div class="session-list__new-line">
        <span class="session-list__label">Осталось </span>
        <span class="session-list__title">110&nbsp;000&nbsp;р.</span>
      </div>
    </div>
    <div class="session-list__col session-list__col_button">
      <a href="/session_page_users.html" class="button">Просмотреть</a>
    </div>
  </div>
  <div class="session-list__row">
    <div class="session-list__col session-list__col_service">
      <a href="http://edraniki.by"><img class="session-list__service-img" alt="Логотип службы доставки" src="img/services_logo/edraniki-by.png"></a>
    </div>
    <div class="session-list__col session-list__col_desc">
      <span class="session-list__new-line session-list__title"><a href="http://edraniki.by">http://edraniki.by</a></span>
      <div class="session-list__hide-on-mobile">
        <div class="session-list__new-line">
          <span class="session-list__label">Время работы: </span>
          <span class="session-list__title session-list__title_dark">11:00 - 22:30</span>
        </div>
        <div class="session-list__new-line">
          <span class="session-list__label">Минимальная сумма заказа: </span>
          <span class="session-list__title session-list__title_dark">180&nbsp;000&nbsp;р.</span>
        </div>
        <div class="session-list__new-line">
          <span class="session-list__label">Бесплатная доставка</span>
        </div>
      </div>
    </div>
    <div class="session-list__col session-list__col_author">
      <div class="session-list__new-line">
        <span class="session-list__title">Василий Пупкин</span>
        <span class="session-list__label"> заказал на:</span>
      </div>
      <span class="session-list__title session-list__title_big">15:00</span>
      <div class="session-list__new-line">
        <span class="session-list__label">Осталось </span>
        <span class="session-list__title">30&nbsp;минут</span>
      </div>
    </div>
    <div class="session-list__col session-list__col_price">
      <div class="session-list__new-line">
        <span class="session-list__label">Общая сумма заказа:</span>
      </div>
      <span class="session-list__title session-list__title_big">350&nbsp;000&nbsp;р.</span>
      <div class="session-list__new-line">
        <span class="session-list__label">Осталось </span>
        <span class="session-list__title">60&nbsp;000&nbsp;р.</span>
      </div>
    </div>
    <div class="session-list__col session-list__col_button">
      <a href="/session_page_users.html" class="button">Просмотреть</a>
    </div>
  </div>
</div>
