<div class="session-list">
  <div class="session-list__row">
    <div class="session-list__col session-list__col_service">
      <a href="http://eda.by"><img class="session-list__service-img" alt="Логотип службы доставки" src="img/services_logo/eda-by.png"></a>
    </div>
    <div class="session-list__col session-list__col_desc">
      <p><span class="session-list__new-line session-list__title"><a href="http://eda.by">http://eda.by</a></span>
      <span class="session-list__hide-on-mobile"><span class="session-list__new-line">Время работы: <span class="session-list__title session-list__title_dark">круглосуточно</span></span>
      <span class="session-list__new-line">Минимальная сумма заказа: <span class="session-list__title session-list__title_dark">100&nbsp;000&nbsp;р.</span></span>
      <span class="session-list__new-line">Бесплатная доставка</span></span></p>
    </div>
    <div class="session-list__col session-list__col_author">
      <p><span class="session-list__new-line"><span class="session-list__title">Василий Пупкин</span> заказал на:</span>
      <span class="session-list__title session-list__title_big">14:50</span>
      <span class="session-list__new-line">Осталось <span class="session-list__title">30&nbsp;минут</span></span></p>
    </div>
    <div class="session-list__col session-list__col_price">
      <p><span class="session-list__new-line">Общая сумма заказа:</span>
      <span class="session-list__title session-list__title_big">290&nbsp;000&nbsp;р.</span>
      <span class="session-list__new-line">Осталось <span class="session-list__title">110&nbsp;000&nbsp;р.</span></span></p>
    </div>
    <div class="session-list__col session-list__col_button">
      <div class="session-list__button-preview">Просмотреть</div>
    </div>
  </div>
  <div class="session-list__row">
    <div class="session-list__col session-list__col_service">
      <a href="http://edraniki.by"><img class="session-list__service-img" alt="Логотип службы доставки" src="img/services_logo/edraniki-by.png"></a>
    </div>
    <div class="session-list__col session-list__col_desc">
      <p><span class="session-list__new-line session-list__title"><a href="http://edraniki.by">http://edraniki.by</a></span>
      <span class="session-list__hide-on-mobile"><span class="session-list__new-line">Время работы: <span class="session-list__title session-list__title_dark">11:00 - 22:30</span></span>
      <span class="session-list__new-line">Минимальная сумма заказа: <span class="session-list__title session-list__title_dark">180&nbsp;000&nbsp;р.</span></span>
      <span class="session-list__new-line">Бесплатная доставка</span></span></p>
    </div>
    <div class="session-list__col session-list__col_author">
      <p><span class="session-list__new-line"><span class="session-list__title">Василий Пупкин</span> заказал на:</span>
      <span class="session-list__title session-list__title_big">15:00</span>
      <span class="session-list__new-line">Осталось <span class="session-list__title">30&nbsp;минут</span></span></p>
    </div>
    <div class="session-list__col session-list__col_price">
      <p><span class="session-list__new-line">Общая сумма заказа:</span>
      <span class="session-list__title session-list__title_big">350&nbsp;000&nbsp;р.</span>
      <span class="session-list__new-line">Осталось <span class="session-list__title">60&nbsp;000&nbsp;р.</span></span></p>
    </div>
    <div class="session-list__col session-list__col_button">
      <div class="session-list__button-preview">Просмотреть</div>
    </div>
  </div>
</div>
