<div class="component-box">
  //= ../components/food_order/food_order.html
</div>
<div class="component-box">
  <span ng-bind="outerFoodNumber"></span>
  <br>
  <quantity-input food-counter="outerFoodNumber"></quantity-input>
</div>

<div class="component-box">
  //= ../components/menu_tabs/menu_tabs.html
</div>

<div class="component-box">
  <session-list list="sessions"></session-list>
</div>

//= ../components/sign-in/sign-in.html

<div class="component-box">
  //= ../components/product_card/product_card.html
</div>

<div class="component-box">
  //= ../components/button/button.html
</div>

<div class="component-box">
  <a href="" class="button">Просмотреть</a>
</div>

<div class="component-box">
  <a href="" class="button button_transparent">Добавить в корзину</a>
</div>

<div class="component-box">
  <a href="" class="button button_big">Опубликовавать предложение</a>
</div>

<div class="component-box">
  <a href="" class="button button_biger">Оформить заказ</a>
</div>

<div class="component-box">
  //= ../components/session_info/session_info.html
</div>

<div class="component-box">
  //= ../components/text_input/text_input.html
</div>

<div class="component-box">
  //= ../components/user_card/user_card.html
</div>

<div class="component-box">
  //= ../components/form/form.html
</div>
