<style>
  .component-box{
    margin:40px;
  }
</style>
<session-info title="sessionInfoTitle" session="session" shops="shops" readonly="readonly"></session-info>

<div class="component-box">
  <user-card
    name="userCard.name"
    list-food-orders="userCard.listFoodOrders"
    is-paid="userCard.isPaid"
    is-admin="isAdmin"
    can-change-orders="canChangeOrders"
    on-delete-user="dropUser(userCard)">
  </user-card>
</div>

<div class="component-box">
  <product-card
    is-added="productCard.isAdded"
    title="productCard.title"
    text="productCard.text"
    price="productCard.price"
    image="productCard.image"
    food-counter="productCard.foodCounter"
    on-add="onAddProduct(productCard)"
    on-delete="onDeleteProduct(productCard)">
  </product-card>
</div>


<div class="component-box">
  <cart
    is-fixed="false"
    confirm-text="cart.confirmText"
    on-confirm="cart.onConfirm()"
    cancel-text="cart.cancelText"
    on-cancel="cart.onCancel()"
    confirm-url="cart.confirmUrl"
    can-change-orders="canChangeOrders"
    cancel-url="cart.cancelUrl"
    list-food-orders="cart.listFoodOrders"
  >
  </cart>
</div>

<div class="component-box">
  <food-order
    image="listFoodOrders[0].image"
    food-counter="listFoodOrders[0].foodCounter"
    price="listFoodOrders[0].price"
    title="listFoodOrders[0].title"
    on-delete="dropOrder(listFoodOrders[0])">
  </food-order>
</div>


<div class="component-box">
  <span ng-bind="outerFoodNumber"></span>
  <br>
  <quantity-input ng-model="outerFoodNumber"></quantity-input>
</div>

<div class="component-box">
  <menu-tabs>
    <menu-pane ng-repeat="pane in panes" title="{{pane.title}}">
        <div ng-bind="pane.content"></div>
    </menu-pane>
    <menu-pane title="Тестовая вкладка (текст)">
        <h3>Текст вкладки</h3>
    </menu-pane>
    <menu-pane title="Тестовая вкладка (компонент)">
        <div>
          <session-list list="sessions"></session-list>
        </div>
    </menu-pane>
  </menu-tabs>
</div>

<div class="component-box">
  <session-list list="sessions"></session-list>
</div>

<div class="component-box">
  <custom-button
    is-blank
    href="'/lol'"
    title="'Просмотреть'">
  </custom-button>
</div>

<div class="component-box">
  <custom-button
    is-transparent
    href="'/lol2'"
    on-click="doBtnAction()"
    title="'Добавить в корзину'">
  </custom-button>
</div>

<div class="component-box">
  <custom-button is-stretch title="'Опубликовавать предложение'"></custom-button>
</div>

<div class="component-box">
  <text-input model="outerValue" label="Лейбл" name="phone" inverted="1"></text-input>
  form component output: <span ng-bind="outerValue"></span>
</div>

<div class="component-box">
  <div><br>
    form output values:<br>
    phone:<span ng-bind="outPhone"></span>,<br>
    mail:<span ng-bind="outMail"></span>,<br>
    name:<span ng-bind="outName"></span>,<br>
    paytype:<span ng-bind="outPaytype"></span>
  </div>
  <foodhub-form phone-value="outPhone" name-value="outName" mail-value="outMail" paytype-value="outPaytype"></foodhub-form>
</div>
