<div class="server-error-message" ng-show="errorCaught" ng-click="hideError()" >
  {{errorMessage}}
</div>
<div class="main-content__column">
  <div class="user-page">
    <h1 class="user-page__title">Ваш личный профиль</h1>

    <div class="user-page__part">
      <h2 class="user-page__block-title">Контактные данные</h2>
      <foodhub-form
        phone-value="tempUser.phone"
        first-name="tempUser.firstName"
        last-name="tempUser.lastName"
        mail-value="tempUser.email"
        paytype-value="tempUser.paymentOption"
        address="tempUser.address">
      </foodhub-form>
    </div>

    <div class="user-page__part user-page__part_smal">
      <h2 class="user-page__block-title">Фотография</h2>

      <img class="user-page__image" alt="alt" ng-src="{{ tempUser.avatarUrl || defaultAvatarUrl }}">
      <custom-button
        is-transparent
        ng-click=""
        title="'Загрузить'">
      </custom-button>
    </div>

    <div class="user-page__footer">
      <custom-button
        ng-click="saveUser()"
        title="'Сохранить'">
      </custom-button>
      <div ng-show="userSaved">
        Пользователь сохранен
      </div>
      <div ng-show="userNotSaved">
        Ошибка
      </div>
    </div>
  </div>
</div>
