<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Components</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <style>
      .component-box {
        margin: 40px;
      }
    </style>
  </head>
  <body>

    <div class="component-box">
      //= ../assets/components/food_order/food_order.html
    </div>
    <div class="component-box">
      //= ../assets/components/quantity-input/quantity-input.html
    </div>


  </body>
</html>
