<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Components</title>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <style>
      .component-box {
        padding: 40px;
      }
    </style>
  </head>
  <body>

    <div class="component-box">
      //= ../assets/components/food_order/food_order.html
    </div>

    <div class="component-box">
      //= ../assets/components/quantity-input/quantity-input.html
    </div>

    <div class="component-box">
      //= ../assets/components/menu_tabs/menu_tabs.html
    </div>

    //= ../assets/components/sign-in/sign-in.html

    <div class="component-box">
      //= ../assets/components/product_card/product_card.html
    <div class="component-box">
      //= ../assets/components/button/button.html
    </div>
    <div class="component-box">
      <a href="" class="button">Просмотреть</a>
    </div>
    <div class="component-box">
      <a href="" class="button button_transparent">Добавить в корзину</a>
    </div>
    <div class="component-box">
      <a href="" class="button button_big">Опубликовавать предложение</a>
    </div>
    <div class="component-box">
      <a href="" class="button button_biger">Оформить заказ</a>
    </div>

    <div class="component-box">
      //= ../assets/components/session_info/session_info.html
    </div>

    <div class="component-box">
      //= ../assets/components/text_input/text_input.html
    </div>

    //= ../assets/components/footer/footer.html

  </body>
</html>
