<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Sceleton</title>
    <link rel="shortcut icon" href="/img/favicon.png"/>
    <link rel="stylesheet" href="css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=latin,cyrillic" rel="stylesheet" type="text/css">
  </head>
  <body>
    //= ../assets/components/header/header.html
    
    <div>
      //= ../assets/components/user_page/user_page.html
    </div>

    //= ../assets/components/footer/footer.html
  </body>
</html>
