.session-list-page
  padding: 0 20px

  &__header
    font-size: 14px
    color: $color_main_font

    &_title
      display: inline-block
      width: 100%
      text-align: center

      @media $desktop-min
        padding: 0 30px
        width: auto
        text-align: left

      @media $mobile-max
        font-size: 26px

    &_button
      display: inline-block
      width: 100%

      @media $desktop-min
        position: absolute
        width: auto
        right: 0
        margin: 35px 30px 0 0

    & .button
      @media $tablet-max
        display: block
        text-align: center
        margin: 0 auto
        width: 320px

      @media $mobile-sm
        width: 100%

  &__content
    margin: 30px 0
