.last-page
  position: relative
  background-color: rgba($color_secondary_bg, 0.3)
  border: $border_separator
  margin-bottom: 50px

  &__footer
    padding: 40px 20px
    border-top: $border_separator

    @media $tablet-max
      text-align: center

  &__block-title
    page_header_title()
    border:none
    

  &__part-content
    padding: 0 20px;

  &__part
    display: inline-block
    padding: 0 0px
    vertical-align: top
    width: 35%
    margin-bottom: 30px

    @media $tablet-max
      width: 100%

    &_big
      width: 64%

      @media $tablet-max
        width: 100%

  .button
    margin-left: 20px

  &__whole-price
    color: $color_main

.checkout-card
  border-bottom: $border_separator
  padding: 5px 0

  &:last-child
    border-bottom: 0

  @media $mobile-max
    padding: 0

  .food-order
    border: 0

  &__food
    width: 50%
    display: inline-block
    min-width: 290px
    vertical-align: middle

    @media $tablet-max
      width: 100%

  &__people
    width: 42%
    display: inline-block
    vertical-align: middle
    padding: 0 0 0 20px

    @media $tablet-max
      width: 100%
      padding: 0 0 20px 0

  &__bold-text
    font-weight: 500
